/* mobile Devices    */
@media (min-width: 320px) and (max-width: 375px) {
	header {
		display: none;
	}
	.page {
		left: 0;
		width: 100%;
	}
	.what-im-good-at .squares {
		grid-template-columns: repeat(1, auto);
		gap: 50px;
		grid-template-rows: repeat(1, auto);
	}
	.about .sec2 .text .btn {
		left: -65px;
	}
	.my_work .squares {
		grid-template-columns: repeat(1, 1fr);
	}
	form {
	}
}

/* i-pads Tablets Devices  */
@media (min-width: 375px) and (max-width: 425px) {
}
/* small screen laptops Devices  */
@media (min-width: 425px) and (max-width: 768px) {
}

@media (min-width: 768px) and (max-width: 1023px) {
}
/* Desktop,Large screen Devices  */
@media (min-width: 1023px) and (max-width: 1200px) {
}
